In [1]:
import pandas as pd

# Load County Datasets

In [2]:
county2009 = pd.read_csv('county2009_final.csv').drop(['Unnamed: 0'], axis=1)
county2010 = pd.read_csv('county2010_final.csv').drop(['Unnamed: 0'], axis=1)
county2011 = pd.read_csv('county2011_final.csv').drop(['Unnamed: 0'], axis=1)
county2012 = pd.read_csv('county2012_final.csv').drop(['Unnamed: 0'], axis=1)
county2013 = pd.read_csv('county2013_final.csv').drop(['Unnamed: 0'], axis=1)
county2014 = pd.read_csv('county2014_final.csv').drop(['Unnamed: 0'], axis=1)
county2015 = pd.read_csv('county2015_final.csv').drop(['Unnamed: 0'], axis=1)
county2016 = pd.read_csv('county2016_final.csv').drop(['Unnamed: 0'], axis=1)
county2017 = pd.read_csv('county2017_final.csv').drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
county2018 = pd.read_csv('county2018_final.csv').drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [14]:
counties = [county2009, county2010, county2011, county2012, county2013, 
            county2014, county2015, county2016, county2017, county2018]

# 2009 Sample

In [3]:
county2009.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,13.3,48637.0,9.8,143.9,5.57
1,1073,16.5,43312.0,10.8,134.3,9.11
2,1097,18.7,39828.0,11.3,150.3,5.34
3,1117,6.9,65408.0,7.8,122.5,7.78
4,2020,7.6,72210.0,6.5,74.6,13.90
5,2090,7.9,64691.0,7.1,57.1,11.55
6,2122,8.7,57171.0,9.8,103.1,20.07
7,2170,8.7,70442.0,8.9,85.9,18.42
8,4003,16.2,43786.0,8.0,83.3,7.69
9,4013,15.1,53284.0,9.1,82.5,7.55
10,4015,17.8,39863.0,11.4,139.3,20.53
11,4019,18.9,43243.0,9.1,93.0,14.35
12,4021,13.7,49088.0,12.3,65.1,7.15
13,4025,14.2,40837.0,10.5,104.3,11.37
14,5007,13.1,49226.0,6.4,96.5,5.08

# 2010 Sample

In [4]:
county2010.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,13.3,47618,10.0,143.8,5.49
1,1073,18.6,41740,10.3,138.0,6.23
2,1097,20.5,39753,11.3,149.6,3.39
3,1117,9.8,67135,7.1,124.2,6.66
4,1127,23.2,36044,12.7,338.1,29.84
5,2020,9.6,70524,6.6,75.1,8.57
6,4003,17.7,43677,9.3,84.6,9.90
7,4013,16.6,50424,9.5,87.0,7.89
8,4015,18.7,36446,13.0,146.5,25.48
9,4019,17.8,44293,9.3,97.0,14.59
10,4021,14.4,49833,10.7,66.3,5.32
11,4025,18.3,40562,10.7,112.2,11.85
12,5007,10.2,52417,6.6,97.8,5.42
13,5119,17.1,44733,7.3,122.8,6.79
14,6001,13.5,66937,10.9,43.4,2.45

# 2011 Sample

In [5]:
county2011.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,13.4,50144,9.0,150.0,5.89
1,1073,18.7,42053,9.3,139.9,5.77
2,1089,13.8,55298,8.3,132.9,4.70
3,1097,19.7,41867,10.8,152.8,3.39
4,1117,8.1,66362,6.2,127.5,5.05
5,1127,22.1,35423,11.3,340.2,30.00
6,2020,8.5,71237,6.0,75.4,10.49
7,2170,11.6,68999,9.2,97.1,15.23
8,4005,21.6,45051,9.5,61.3,8.18
9,4013,17.4,50785,8.6,86.1,6.83
10,4015,21.7,35998,12.3,146.8,21.74
11,4019,20.4,44102,8.5,98.3,13.24
12,4021,17.4,45170,9.8,70.0,6.53
13,4025,18.4,41437,9.9,114.7,14.16
14,5007,12.1,52644,6.5,89.9,5.27

# 2012 Sample

In [6]:
county2012.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1009,16.2,44225,6.9,66.6,19.02
1,1073,18.6,43967,7.4,141.2,7.27
2,1097,21.0,39546,9.2,163.4,3.62
3,1117,8.7,67244,5.0,128.1,7.46
4,1127,21.0,36600,9.2,335.1,22.65
5,2020,9.0,71094,5.4,75.3,11.39
6,2170,10.1,68109,8.7,91.0,19.16
7,4003,18.8,43017,9.0,87.4,9.84
8,4013,17.4,51442,7.3,83.6,5.10
9,4015,21.1,34966,11.0,144.6,20.66
10,4019,19.9,44745,7.4,94.0,14.21
11,4021,17.7,50362,8.5,66.2,8.00
12,4025,15.7,43397,8.6,116.2,10.82
13,5119,18.6,44819,6.9,119.1,4.37
14,5143,19.3,41856,5.6,116.3,4.73

# 2013 Sample

In [7]:
county2013.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1073,18.9,45024,6.7,136.7,8.49
1,1097,20.3,42278,8.5,164.2,4.83
2,2020,7.7,76362,5.2,68.6,11.30
3,4003,18.8,45294,9.2,83.3,7.72
4,4013,17.6,52066,6.6,78.5,5.11
5,4015,21.3,38560,10.3,140.5,22.66
6,4019,19.3,43926,6.8,86.4,15.15
7,4021,16.7,49887,8.1,64.1,6.93
8,4025,16.4,40486,7.7,112.6,4.65
9,5119,17.3,46526,6.5,120.2,6.13
10,6001,13.0,72128,7.2,39.4,2.79
11,6007,21.4,42395,10.3,157.3,4.50
12,6013,10.8,78909,7.5,55.5,3.93
13,6019,28.6,43741,13.3,68.1,5.23
14,6023,21.5,40882,8.1,128.1,14.87

# 2014 Sample

In [8]:
county2014.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,13.0,49626,6.1,143.5,8.00
1,1073,19.5,44852,6.3,130.2,22.25
2,1097,19.6,42943,7.7,158.5,4.34
3,1117,9.6,69432,4.5,110.5,6.77
4,2020,10.0,75200,5.2,68.0,10.30
5,2170,10.7,73981,8.1,86.2,11.24
6,4003,18.7,45025,8.4,82.7,12.55
7,4013,17.1,53929,5.8,77.9,6.90
8,4015,20.8,37704,8.7,142.2,21.64
9,4019,18.7,45871,6.0,84.2,15.83
10,4021,17.6,49876,7.0,65.6,5.47
11,5007,11.9,57408,4.6,95.1,6.60
12,5119,16.1,45698,5.5,117.5,5.09
13,6001,12.5,76996,5.8,38.0,3.23
14,6007,21.9,42302,8.6,143.9,6.24

# 2015 Sample

In [9]:
county2015.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,12.9,52387,5.5,132.1,9.33
1,1009,14.7,50487,5.4,57.9,19.07
2,1073,18.0,48415,5.8,123.4,20.59
3,1097,18.4,42530,6.9,143.0,5.54
4,1117,8.5,70879,4.2,103.4,5.27
5,2020,8.7,77791,5.0,68.2,12.39
6,2122,11.4,62025,7.8,100.1,20.67
7,2170,9.8,76601,7.7,78.9,10.88
8,4003,16.9,43451,7.3,83.5,18.98
9,4005,19.5,51955,6.5,56.2,7.19
10,4013,16.3,56017,5.1,73.7,7.70
11,4015,17.4,40360,7.9,133.9,21.49
12,4019,18.7,47107,5.5,79.4,14.75
13,4021,15.8,50888,6.3,63.2,7.87
14,4025,15.1,47220,5.6,104.5,5.85

# 2016 Sample

In [10]:
county2016.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,11.7,56460,5.3,123.8,8.63
1,1043,14.9,41543,5.0,166.2,15.76
2,1073,15.3,50109,5.7,116.7,25.02
3,1089,13.5,61193,5.1,113.7,4.48
4,1097,19.5,45233,6.6,133.5,5.06
5,1115,12.0,57856,5.2,114.4,11.36
6,1117,7.9,74212,4.3,100.7,13.29
7,2020,7.2,83959,5.5,66.3,12.41
8,2122,12.0,68501,8.5,97.9,22.22
9,2170,9.5,71793,8.2,76.4,16.29
10,4003,21.1,45151,6.2,79.0,14.31
11,4013,15.0,58742,4.6,68.2,10.39
12,4015,18.3,42003,6.6,127.5,15.10
13,4019,18.2,47644,5.0,74.0,15.74
14,4021,15.4,52642,5.6,58.3,7.17

# 2017 Sample

In [11]:
county2017.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,10.1,56607,4.1,106.7,9.88
1,1043,13.8,45925,3.8,141.1,13.29
2,1049,19.5,39906,4.5,103.2,15.36
3,1055,18.1,41791,4.6,130.5,26.28
4,1073,16.7,50731,4.3,104.2,24.42
5,1089,12.8,62750,3.9,100.5,4.99
6,1097,19.7,45615,5.2,118.4,3.38
7,1115,13.5,52755,4.0,105.0,14.74
8,1117,7.4,74098,3.2,89.6,12.64
9,1125,15.9,51644,4.2,99.9,5.77
10,2020,9.6,78579,5.8,59.4,16.99
11,2170,11.3,72296,8.2,69.3,14.08
12,4003,16.1,48966,5.6,69.0,12.83
13,4005,18.4,54399,5.5,42.4,7.10
14,4013,13.5,62221,4.2,59.2,13.70

# 2018 Sample

In [12]:
county2018.head(15)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,9.8,57588,3.6,93.6,6.42
1,1043,14.5,45796,3.3,126.7,13.18
2,1055,17.5,44903,4.1,126.1,14.63
3,1073,16.1,55013,3.7,95.8,20.63
4,1089,11.9,63755,3.5,85.4,3.00
5,1097,20.8,43598,4.7,107.6,7.98
6,1103,13.2,52797,3.5,108.9,11.76
7,1115,12.0,57284,3.5,100.1,18.04
8,1117,8.0,75663,2.9,81.2,11.13
9,1125,16.8,52557,3.7,89.1,5.74
10,2020,9.5,82113,5.5,51.2,9.60
11,2122,12.4,65439,7.7,76.3,18.79
12,2170,10.4,74649,7.6,60.8,10.22
13,4003,15.1,49164,5.6,60.3,11.83
14,4005,15.9,60187,5.5,34.7,16.10

In [20]:
county = pd.DataFrame(columns = county2009.columns)
for entry in counties:
    county = county.append(entry, ignore_index = True)
county.head(50)

,FIPS,Poverty Rate,Income,Unemployment Rate,Prescription Rate,Death Rate
0,1003,13.3,48637.0,9.8,143.9,5.57
1,1073,16.5,43312.0,10.8,134.3,9.11
2,1097,18.7,39828.0,11.3,150.3,5.34
3,1117,6.9,65408.0,7.8,122.5,7.78
4,2020,7.6,72210.0,6.5,74.6,13.90
5,2090,7.9,64691.0,7.1,57.1,11.55
6,2122,8.7,57171.0,9.8,103.1,20.07
7,2170,8.7,70442.0,8.9,85.9,18.42
8,4003,16.2,43786.0,8.0,83.3,7.69
9,4013,15.1,53284.0,9.1,82.5,7.55
10,4015,17.8,39863.0,11.4,139.3,20.53
11,4019,18.9,43243.0,9.1,93.0,14.35
12,4021,13.7,49088.0,12.3,65.1,7.15
13,4025,14.2,40837.0,10.5,104.3,11.37
14,5007,13.1,49226.0,6.4,96.5,5.08
15,5031,17.9,39526.0,7.0,177.7,10.47
16,5033,17.6,39618.0,7.8,126.6,19.48
17,5119,16.7,42107.0,6.7,119.7,4.74
18,5131,17.6,39088.0,7.6,203.3,7.99
19,6001,10.8,68258.0,10.3,43.9,1.67
20,6005,11.3,54461.0,11.4,133.2,28.77
21,6007,18.5,41196.0,12.3,167.3,7.28
22,6013,9.5,75084.0,10.0,59.6,3.66
23,6017,7.6,68778.0,10.9,83.8,11.64
24,6019,21.5,45219.0,14.7,69.0,7.05
25,6023,19.0,35985.0,10.7,142.3,18.69
26,6029,22.2,46938.0,14.1,65.0,6.63
27,6033,22.1,36895.0,15.0,166.0,20.18
28,6037,16.0,54375.0,11.6,41.2,2.78
29,6041,7.3,86658.0,7.5,56.5,5.18
30,6045,17.5,41488.0,10.0,129.4,11.40
31,6047,24.6,39922.0,16.6,70.4,3.96
32,6053,17.2,57647.0,11.5,69.1,4.87
33,6059,10.7,71735.0,8.7,51.9,7.77
34,6065,13.9,55151.0,13.1,56.4,5.82
35,6067,15.3,52502.0,11.0,63.5,5.61
36,6071,17.0,52137.0,12.7,54.9,3.28
37,6073,12.5,60103.0,9.4,47.5,8.00
38,6075,11.7,70247.0,8.7,44.5,11.47
39,6077,15.7,52201.0,14.9,66.8,9.89
40,6079,13.2,55638.0,8.8,83.3,5.59
41,6081,7.6,84678.0,8.2,40.1,2.10
42,6083,15.0,58555.0,8.2,69.3,4.28
43,6085,9.1,84990.0,10.6,31.7,2.32
44,6087,13.9,60816.0,11.1,87.5,10.77
45,6089,15.5,42552.0,14.3,169.4,15.23
46,6095,10.7,65079.0,10.4,56.2,3.66
47,6097,9.5,61985.0,9.4,71.6,6.88
48,6099,17.0,48550.0,15.5,106.0,7.23
49,6107,23.0,39876.0,14.9,87.3,5.72

In [22]:
county.to_csv('county_sample.csv')